<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QSPRpred - SMILES Prediction</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
    <style>
        img {
            max-width: 150px;
            max-height: 150px;
            object-fit: contain;
        }
        table.dataTable td, table.dataTable th {
            text-align: center;
        }
    </style>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var checkboxes = document.querySelectorAll('.model-tile input[type="checkbox"]');
                checkboxes.forEach(function(checkbox) {
                    checkbox.addEventListener('change', function() {
                        if (this.checked) {
                            this.parentElement.classList.add('checked');
                        } else {
                            this.parentElement.classList.remove('checked');
                        }
                    });
                });
            });
        </script>
            <script>
                $(document).ready(function() {
                    var table = $('#predictionsTable').DataTable({
                        dom: 'Bfrtip',
                        buttons: [
                            'csvHtml5',
                            'excelHtml5',
                            'pdfHtml5',
                            'print'
                        ],
                        scrollX: true,
                        autoWidth: false, // Prevent automatic column width adjustment
                        columnDefs: [
                            { targets: [3], visible: false},
                            { targets: [7], visible: false},
                            { targets: '_all', visible: true, width: '150px' } // Adjust this width as needed
                        ]
                    });
            
                    // Adjust columns after the table is shown or modified
                    $('#predictionsTable').on('shown.bs.collapse', function () {
                        table.columns.adjust();
                    });
                });
            </script>
</head>

<img src="{{ url_for('static', filename='img/logo.png') }}" alt="VHP4Safety Logo" class="center">
<header>
    <h1>QSPRpred - pChEMBL Value Prediction</h1>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('model') }}">Tool</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
    </nav>  
</header>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>