{% extends "base.html" %}

{% block content %}
    <body>
        <div class="container">
            <h2>Welcome</h2>
            <p>This tool allows users to predict the activity of chemicals of interest for various protein targets relevant to liver disease <a href="https://rdcu.be/d8Jel">(read more here)</a>. This prediction is done by target-specific, pretrained QSAR models. The model outputs a prediction of the likelihood of the compound being active. The threshold for activity is expressed in pChEMBL, the negative log of the half maximal response concentration. For example, when the model threshold for activity is 6, a compound is considered active when the half maximal response concentration is lower than 1μM.</p>
            <a href="{{ url_for('model') }}">Go to the QSPRpred Prediction tool</a>
        </div>
    </body>
{% endblock %}
